h1{
    background-color:rgba(172, 236, 172);
}
section{
    background-color: rgba(211, 211, 235);
    width: 50%;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    background-color:rgba(198, 216, 198);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}
#contact{
    position:relative;
    top: -974px;
    left:623px;
    font-size:130%;
    width:45%;
    font-family: Arial, Helvetica, sans-serif;
}
#pichome{
    position:relative;
    top: -975px;
    left: 621px;  
}
aside{
    position:relative;
    top:-950px;
    left:650px;
    background-color:rgba(136, 136, 199);
    font-size: 150%;
}
h4{
    position:relative;
    top:-1750px;
    left: 600px;
    font-size:150%;
    background-color: rgba(255, 0, 170);
    width: 20%;
}
body{
    background-color: rgba(186, 186, 194);
}
